:root {
    --white: white;
    --black: rgb(51, 51, 51);
    --deepblue: rgb(44, 62, 80);
    --bluegray: rgb(58, 84, 109);
    --green: rgb(26, 188, 156);
    --darkgray: gray;
}
body {
    background-color: var(--white);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
/* GENERAL */
.vz_bg-deepblue { background-color: var(--deepblue);}
.vz_bg-green { background-color: var(--green);}
.vz_bg-bluegray {background-color: var(--bluegray);}
.vz_txt-black {color: var(--black);}
/* HEADER */
header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}
/* MAIN */
#hero { padding-top: 100px;}
#hero img.avatar {
    width: 50%;
    max-width: 100%;
}
.star {
    width: 250px;
}
.star:before, .star:after {
    content: '';
    display: block;
    width: 25%;
    height: 3px;
    background-color: var(--white);
}
#portfolio .star:before, #portfolio .star:after, #contact .star:before, #contact .star:after  {background-color: var(--black);}
.vz_overlay {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.vz_overlay::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: var(--white);
    background-color: rgb(26, 188, 156,0.6);
    opacity: 0;
    transition: opacity 800ms;
}
.vz_overlay:hover:after { opacity: 1;}
/* FOOTER */
#foot-bottom {
    height: 100px;
    font-size: 12px;
    padding-top: 35px;
}
/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .star:before, .star:after { width: 35%;}
    div.star {
        justify-content: space-between!important;
    }
    #about div.row {width: 80%!important;}
}  
@media screen and (min-width: 992px) {
    .star { width: 280px;}
    .star:before, .star:after { width: 38%;}
}